#sidebar-wrapper {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #090b07;
  padding-top: 20px;
}

#page-content-wrapper {
  background-image: url('/public/fondoclaro.jpg'); /* Cambia el path con la ruta de tu imagen */
  margin-left: 250px;
  padding: 50px;
}

.list-group-item {
  border: none;
  padding: 15px 20px;
}

.list-group-item button {
  font-size: 16px;
}

.navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #e3e3e3;
}

.navbar-brand {
  font-size: 24px;
  color: #17eb21 !important;
}

.sidebar-heading {
  color: #333;
}

.btn {
  font-weight: 500;
}

.btn-light {
  color: #333;
}

.btn-danger {
  color: white;
  font-weight: bold;
}
