/* login.css */

/* Contenedor principal con fondo de pantalla */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../../public/fondodegradado.jpg') no-repeat center center fixed;
  background-size: cover;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('##') no-repeat center center;
  background-size: cover;
  padding: 10px;
}

/* Espacio para el logo */
.logo-container {
  margin-bottom: 30px; /* Espaciado entre logo y formulario */
}

.logo-container img {
  max-width: 120px; /* Aumentar tamaño del logo */
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px; /* Redondear bordes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más destacada */
}

/* Formulario de inicio de sesión */
.login-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

/* Título del formulario */
.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Entradas de texto */
.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Botón de inicio de sesión */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:disabled {
  background-color: #a5d6a7;
}

/* Mensaje de error */
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Botón de contraseña olvidada */
.forgot-password-button {
  background-color: transparent;
  border: none;
  color: #0056b3;
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.forgot-password-button:hover {
  color: #003366;
}

/* Media Queries para diseño responsivo */
@media (max-width: 768px) {
  .login-form {
    padding: 20px;
    max-width: 90%;
  }

  .login-form h2 {
    font-size: 22px;
  }

  .login-button {
    font-size: 14px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 0 10px;
  }

  .login-form {
    max-width: 100%;
    padding: 15px;
  }

  .login-form h2 {
    font-size: 18px;
  }

  .login-button {
    font-size: 14px;
    padding: 10px;
  }
}
