/* Estilos personalizados para el layout */
#wrapper {
  display: flex;
  min-height: 100vh;
}

#sidebar-wrapper {
  min-width: 250px;
}

.sidebar-heading {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #f8f9fa;
}

.list-group-item-action {
  padding: 1rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  flex-grow: 1;
  padding: 20px;
}

/* Navbar */
.navbar {
  margin-bottom: 20px;
}

.btn-outline-light {
  color: white;
  border-color: white;
}

.btn-outline-light:hover {
  color: black;
  background-color: white;
  border-color: white;
}
